# OVERVIEW #

This notebook will import the grouped version of the United States COVID data exported as a .csv file in the COVID19_API_Calls notebook.


In the COVID19_API_Calls.ipynb file, COVID data was imported through an API, saved in a DataFrame, then grouped by case reported date with hospitalization and death counts.


**You will need to visit the [TSA website here](https://www.tsa.gov/coronavirus/passenger-throughput) and copy/paste the airline traveler data into a .csv file on your local machine.**

**NAME YOUR TSA FILE: "TSA_Data.csv"**


This notebook will call in that TSA data file, create DataFrames with both sets of data, convert datatypes, and merge the data into a single DataFrame.  Finally, the merged DataFrame will be exported as a .csv file.

In [10]:
#import Pandas, Numpy, and MatPlotLib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# SECTION 1: Import the COVID and TSA .csv files #

In [11]:
#read COVID data csv file in as Pandas DataFrame and preview it
covid_data = pd.read_csv('covid_data.csv')
covid_data.tail()

    cdc_report_dt   Cases  Deaths  Hospitalizations
316    2020-11-15   85177     467              2198
317    2020-11-16  106744     562              2673
318    2020-11-17  155142     844              4959
319    2020-11-18  102010     475              2700
320    2020-11-19  103308     420              2716

In [12]:
#read TSA data csv file in as a Pandas DataFrame and preview it
tsa_data = pd.read_csv('TSA_Data.csv',delimiter=',')
tsa_data.head()

,Date,Total Traveler Throughput,Total Traveler Throughput_1 Year Ago_Same Weekday
0,12/9/2020,564372,2020488
1,12/8/2020,501513,1897051
2,12/7/2020,703546,2226290
3,12/6/2020,837137,2292079
4,12/5/2020,629430,1755801

# SECTION 2: Convert Datatypes #

In [13]:
#Check the datetype for the COVID DataFrame using .info().  It has changed to an object.
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cdc_report_dt     321 non-null    object
 1   Cases             321 non-null    int64
 2   Deaths            321 non-null    int64
 3   Hospitalizations  321 non-null    int64
dtypes: int64(3), object(1)
memory usage: 10.2+ KB

In [14]:
#Check the datetype for the TSA DataFrame using .info().  It has changed to an object also.
#Note: the traveler numbers also came through as objects also and will need to be converted
tsa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 3 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Date                                               284 non-null    object
 1   Total Traveler Throughput                          284 non-null    int64
 2   Total Traveler Throughput_1 Year Ago_Same Weekday  284 non-null    int64
dtypes: int64(2), object(1)
memory usage: 6.8+ KB

#### Convert dates to datetime64 ####

In [15]:
#Import the datetime module and use it to extract date details
import datetime

In [16]:
#Convert the COVID report date
case_date = pd.to_datetime(covid_data["cdc_report_dt"]) 
covid_case_date = pd.DataFrame(case_date)

#Check the datatype, it is datetime
covid_case_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cdc_report_dt  321 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 2.6 KB

In [17]:
#Convert the TSA traveler count date
tsa_date = pd.to_datetime(tsa_data["Date"]) 
tsa_travel_date = pd.DataFrame(tsa_date)

#Check the datatype, it is datetime
tsa_travel_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    284 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 2.3 KB

#### Convert TSA traveler numbers to float64 ####

In [18]:
#Now I can convert the TSA traveler numbers from Python object datatypes to integer datatypes

tsa_2020_1 = pd.to_numeric(tsa_data['Total Traveler Throughput'])
tsa_2020 = pd.DataFrame(tsa_2020_1)
tsa_2020.info()  #this is my new 2020 traveler number DataFrame, the datatype is float

tsa_2019_1 = pd.to_numeric(tsa_data['Total Traveler Throughput_1 Year Ago_Same Weekday'])
tsa_2019 = pd.DataFrame(tsa_2019_1)
tsa_2019.info()  #this is my new 2019 traveler number DataFrame, the datatype is float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 1 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Total Traveler Throughput  284 non-null    int64
dtypes: int64(1)
memory usage: 2.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 1 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Total Traveler Throughput_1 Year Ago_Same Weekday  284 non-null    int64
dtypes: int64(1)
memory usage: 2.3 KB

# SECTION 3: Create DataFrames #

#### Create a separate DataFrame for each datapoint ####

They will be combined into a single DataFrame later

In [19]:
#These are my COVID datapoints
covid_case_date  #the converted covid case date from the COVID DataFrame

covid_cases = pd.DataFrame(covid_data['Cases'])
covid_deaths = pd.DataFrame(covid_data['Deaths'])
covid_hopitalizations = pd.DataFrame(covid_data['Hospitalizations'])

#These are my TSA datapoints
tsa_travel_date  #the converted tsa traveler count date from the TSA DataFrame

tsa_2020 #this is my new 2020 traveler number DataFrame, the datatype is float
tsa_2019 #this is my new 2019 traveler number DataFrame, the datatype is float

tsa_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 1 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Total Traveler Throughput  284 non-null    int64
dtypes: int64(1)
memory usage: 2.3 KB

In [20]:
#Use this cell to check the datatypes, if desired

#covid_case_date.info()
#covid_cases.info()
#covid_deaths.info()
#covid_hopitalizations.info()
#tsa_travel_date.info()
#tsa_2020.info()
#tsa_2019.info()

#### I don't want to create a combined DataFrame at this stage because there are ####

1. COVID case dates and counts, dated earlier than the TSA traveler date counts

2. TSA traveler date counts dated later than the COVID case dates and counts

If I concatenate the DataFrame columns I just created, they will merge on the index number, not the date

#### Create a COVID DataFrame using the date as the index ####

In [21]:
#Concatenate the COVID DataFrame columns 
covid_df = pd.concat([covid_case_date, covid_cases, covid_deaths, covid_hopitalizations], axis=1)
covid_df.head()

#Set the Date Column as the Index
covid_dataframe = covid_df.set_index('cdc_report_dt')

#Preview the new DataFrame
covid_dataframe.head()

               Cases  Deaths  Hospitalizations
cdc_report_dt
2020-01-01        12       0                 1
2020-01-02         3       0                 0
2020-01-03         2       0                 0
2020-01-05         1       0                 0
2020-01-08         1       0                 0

#### Create a TSA Traveler Count DataFrame using the date as the index ####

In [22]:
#Concatenate the TSA DataFrame columns 
tsa_df = pd.concat([tsa_travel_date, tsa_2020, tsa_2019], axis=1)

#Set the Date Column as the Index
tsa_dataframe = tsa_df.set_index('Date')

#Preview the new DataFrame
tsa_dataframe.head()

,Total Traveler Throughput,Total Traveler Throughput_1 Year Ago_Same Weekday
Date,,
2020-12-09,564372,2020488
2020-12-08,501513,1897051
2020-12-07,703546,2226290
2020-12-06,837137,2292079
2020-12-05,629430,1755801

#### Now, the COVID and TSA DataFrames can be merged together on the Date index ####


This will be accomplished with an inner merge, which will only join the rows that have matching values (matching dates).


This merge will be exclude any COVID case dates or TSA traveler count dates that are not in both DataFrames.

In [23]:
#Merge the COVID and TSA DataFrames on the Date index
   
    
merged_df = pd.merge(covid_dataframe, tsa_dataframe, left_index=True, right_index=True)
merged_df.tail()

,Cases,Deaths,Hospitalizations,Total Traveler Throughput,Total Traveler Throughput_1 Year Ago_Same Weekday
2020-11-15,85177,467,2198,978297,2396681
2020-11-16,106744,562,2673,883157,2298856
2020-11-17,155142,844,4959,611497,1900895
2020-11-18,102010,475,2700,703135,2071631
2020-11-19,103308,420,2716,907332,2428095

# SECTION 4: Rename columns and export as .csv

In [24]:
#Rename the columns so that they are easier to consume

covid_travel = merged_df.rename(columns = {'Total Traveler Throughput': '2020 Traveler Count', 'Total Traveler Throughput_1 Year Ago_Same Weekday': '2019 Traveler Count (Same Weekday)'})
covid_travel.head()

#Datetime format = year-month-day

,Cases,Deaths,Hospitalizations,2020 Traveler Count,2019 Traveler Count (Same Weekday)
2020-03-01,234,12,71,2280522,2301439
2020-03-02,163,14,47,2089641,2257920
2020-03-03,261,11,59,1736393,1979558
2020-03-04,217,14,66,1877401,2143619
2020-03-05,252,8,72,2130015,2402692

In [25]:
#And here is the information about this finalized DataFrame
covid_travel.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 264 entries, 2020-03-01 to 2020-11-19
Freq: D
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Cases                               264 non-null    int64
 1   Deaths                              264 non-null    int64
 2   Hospitalizations                    264 non-null    int64
 3   2020 Traveler Count                 264 non-null    int64
 4   2019 Traveler Count (Same Weekday)  264 non-null    int64
dtypes: int64(5)
memory usage: 12.4 KB

In [26]:
#store this DataFrame as a .csv in order to open it in a different ('Visualization') notebook.

covid_travel.to_csv('covid_travel.csv')