In [104]:
#import Pandas, Numpy, and MatPlotLib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [108]:
#import requests in order to call the COVID data API data 
#import time in order to pause between API calls and not freeze in the process
#import pprint in order to pretty-print the data.
import requests
import time
from pprint import pprint

In [ ]:
#I want to compare the following COVID19 data points:
    #test result confirmation date = 'pos_spec_dt' - number of confirmed cases
    #death status = 'death_yn' - number of deaths
    #hospitalization status = 'hosp_yn' - number of people hospitalized

#I'm also pulling in the date the case was reported to the cdc = 'cdc_rpt_dt' for reference 
#to be sure the dataset is complete and not missing rows (visually compare with preview on website)

#these are the key stats reported re: COVID19 counts in the news

#So these are the data columns I want to create a Pandas DataFrame with.

In [155]:

#read COVID data csv file in as Pandas DataFrame and preview it
covid_data = pd.read_csv('covid_data.csv')
covid_data.head()

,Unnamed: 0,cdc_rpt_dt,pos_spec_dt,death_yn,hosp_yn
0,0,2020-03-22T00:00:00.000,2020-03-15T00:00:00.000,No,Yes
1,1,2020-03-23T00:00:00.000,2020-03-15T00:00:00.000,Unknown,Unknown
2,2,2020-03-15T00:00:00.000,2020-03-15T00:00:00.000,Missing,Missing
3,3,2020-03-15T00:00:00.000,2020-03-15T00:00:00.000,Missing,Missing
4,4,2020-03-15T00:00:00.000,2020-03-15T00:00:00.000,Missing,Missing

In [156]:
#Preview the data
tsa_data = pd.read_csv('2020_10_05_TSA_Data.csv',delimiter=',')
tsa_data.head()

,Date,Total Traveler Throughput,Total Traveler Throughput_1 Year Ago_Same Weekday
0,10/4/2020,"900,911","2,542,118"
1,10/3/2020,"677,661","1,921,185"
2,10/2/2020,"857,186","2,526,835"
3,10/1/2020,"855,908","2,447,687"
4,9/30/2020,"634,046","2,082,179"

In [157]:
#QUESTION FOR MENTORS - MY COVID DATASET IS LIMITED TO 1,000 ROWS.  HOW DO I GET THE FULL DATA?

covid_data.info()

#here is the website: https://data.cdc.gov/Case-Surveillance/COVID-19-Case-Surveillance-Public-Use-Data/vbim-akqf

#there should be closer to 4.5million rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1000 non-null   int64
 1   cdc_rpt_dt   1000 non-null   object
 2   pos_spec_dt  1000 non-null   object
 3   death_yn     1000 non-null   object
 4   hosp_yn      1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [ ]:
#Here is a list of next steps:

#1. convert the COVID dates into standard date format

#2. group the covid data by days (pos_spec_dt)
    #for each day, I will have total number of cases, deaths, hospitalizations
    
#3. combine the COVID and TSA dataframes so that for each day, I have all values
    #so, perhaps make the date the index

#4. then begin creating the visualizations to show trends